@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}
body {
    font-family: "PT Sans";
}
ul{
    margin-bottom: 0;
    padding-left: 0;
}

p{
    color: rgb(129, 129, 129);
    margin-bottom: 0;
}

h4{
    color: rgb(61, 61, 61);
    margin-bottom: 0;
}

h5{
    color: rgb(73, 73, 73);
    margin-bottom: 0;
}

h6{
    color: rgb(73, 73, 73);
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color: rgb(165, 165, 165);
}

small{
    color: rgb(165, 165, 165);
}

/* <!-- Nav Bar Section --> */
.navbar{
    background-color: rgb(59, 60, 68);
}
.search-input i{
    top: 40%;
    align-items: center;
    justify-content: center;
    padding-left: 255px;
}
.navbar-nav .nav-item .nav-link{
    color: #fff;
}
.unread-notif{
    font-size: 0.6rem;
}
/* <!-- Nav Bar Section --> */

/* <!-- Header Slider Section --> */
.header-image img{
    background-repeat: none;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}
/* <!-- Header Slider Section --> */

/* <!-- Company Header Section --> */
.company-intro{
    padding-top: 1rem;
}
.intro-1 h4{
    font-weight: 600;
}
.intro-sutitlte p{
    font-weight: 600;
    color: rgb(148, 148, 148);
}
.intro-button-1 i{
    display: flex;
    position: absolute;
    color: #688DFF;
    padding-top: 10px;
    padding-left: 10px;
}
.intro-button-1 button{
    background-color: #EBF2FF;
    padding-left: 30px;
}
.button-website{
    color: #2595FF;
    font-weight: 600;
}

.intro-button-2 i{
    display: flex;
    position: absolute;
    color: #ffffff;
    padding-top: 10px;
    padding-left: 10px;
}
.intro-button-2 button{
    background: linear-gradient(to right,#0087FB, #58b0fd);
    padding-left: 30px;
}
.button-follow{
    color: #fff;
    font-weight: 600;
}
.company-intro{
    box-shadow: 0 4px 8px 0 rgba(182, 182, 182, 0.2), 0 6px 20px 0 rgba(150, 150, 150, 0.19);
}
/* <!-- Company Header Section --> */

/* <!-- Company Overview --> */
.overview-logo img{
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
}
.divider{
    width: 100%;
    height: 1px;
    background: #e4e4e4;
    margin: 15px auto;
}
.divider-two{
    width: 100%;
    height: 1px;
    background: #e4e4e4;
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
}
.overview-title h5{
    font-weight: 600;
    color: rgb(73, 73, 73);
}
.overview-title p{
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(129, 129, 129);
    font-weight: 500;
    line-height: 1.3rem;
}
.counter-connection{
    margin-top: -10px;
}
.counter-connection-title{
    font-weight: 600;
    color: rgb(73, 73, 73);
}
.counter-connection-number{
    font-weight: 700;
    color: rgb(24, 227, 241);
}

/* <!-- Post Job Start --> */
.hire-image img{
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.hire-title{
    font-size: 1.1rem;
    font-weight: 800;
    color: rgb(73, 73, 73);
}
.hire-text{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(129, 129, 129);
}
.hire-button .btn{
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
}

/* <!-- Top Tab Menu --> */
.nav-tab{
    list-style: none;
}
.top-tabs{
    padding-top: 10px;
    padding-bottom: 10px;
}
.top-tabs .nav-item a{
    font-weight: 600;
    color: rgb(73, 73, 73);
}
.top-tabs .nav-item .nav-link.active{
    color: #58b0fd;
    border-bottom: 2px solid #58b0fd;
    padding-bottom: 15px;
}
.top-tabs .nav-item .nav-link.active::after{
    margin-bottom: 10px;
}
.about-header-text{
    padding: 20px;
}

.overview-header-text{
    padding: 20px 20px 0 20px;
}
.map-header-text{
    padding: 20px 20px 0 20px;
}
.map-details{
    margin-top: -12px;
    border-left: 1px  solid rgb(238, 238, 238);
    border-right: 1px  solid rgb(238, 238, 238);
    border-bottom: 1px  solid rgb(238, 238, 238);
    border-radius: 5px;
}
.map-area-1 iframe{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.map-area-2 iframe{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* <!-- About Content --> */
.similar-page-text{
    padding: 20px 20px 0 20px;
}
.similar-category-amazon img{
    height: 50px;
    width: 50px;
}
.similar-category-amazon .category-name small {
    line-height: 2px;
}
.follow-button{
    background-color: #EBF2FF;
    padding-left: 10px;
}
.button-follow-similar{
    color: #2595FF;
    font-weight: 600;
}
.follow-button i{
    display: flex;
    position: absolute;
    color: #688DFF;
    padding-top: 12px;
}

.review-users-text{
    padding: 20px 20px 0 20px;
}
.sidebar-title{
    font-size: 1.1rem;
    font-weight: 600;
}
.category-name{
    padding-left: 10px;
}

.premium-image img{
    width: 100%;
    height: 50%;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.premium-title{
    font-size: 1.1rem;
    font-weight: 800;
    color: #D6AE2B;
}
.premium-text{
    font-size: 1rem;
    font-weight: 500;
    color: rgb(129, 129, 129);
}
.premium-button .btn{
    font-weight: 600;
    padding-left: 30px;
    padding-right: 30px;
    color: #D6AE2B;
}

/* ===================================== */

/* <!-- Connections Body Section --> */

/* Friends */
.friends-header-text{
    padding: 20px 20px 0 20px;
}
.friends-tabs{

    padding-left: 5px;
}
.friends-tabs .nav-item a{
    font-weight: 600;
    color: rgb(73, 73, 73);
}
.friends-tabs .nav-item .nav-link.active{
    color: #58b0fd;
    border-bottom: 2px solid #58b0fd;
}
.friends-tabs .nav-item .nav-link.active::after{
    margin-bottom: 10px;
}

/* Friends Portfolio Section */
.profile-image img{
    height: 52px;
    width: 52px;
}
.friends-profile{
    border: 1px solid rgb(231, 231, 231);
    padding-top: 20px;
}
.mutual-avatar{
    height: 24px;
    width: 24px;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255);
}
.mutual-avatar-half{
    height: 24px;
    width: 24px;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255);
}
.mutual-avatar-half{
    margin-left: -5px;
}
.connect-btn{
    padding-left: 20px;
}
.connect-btn button{
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(to right,#0087FB, #58b0fd);
}
/* .follow-btn{
    padding-right: 20px;
} */
.follow-btn button{
    padding-left: 35px;
    padding-right: 35px;
}
.follow-btn i{
    position: absolute;
    font-size: 1.1rem;
    color: #2595FF;
    padding-left: 20px;
}
/* <!-- Connections Body Section --> */

/* <!-- Sidebar Section --> */
.network-header-text{
    padding: 20px 20px 0 20px;
}


.suggestion-header-img{
    padding-top: 20px;
}
.suggestion-header-img img{
    height: 56px;
    width: 56px;
    border-radius: 100%;
    border: 3px solid #fff;
}
.suggestion-header-img .user-1{
    margin-left: -20px;
}
.button-follow-2{
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;

}
.button-follow-2 .btn{
    padding-left: 30px;
    padding-right: 30px;
}


/* =============COMPANY PROFILE======================== */
.job-search-bar{
    position: block;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}
.job-search-bar button {
    float: right;
    padding: 6px 10px;
    margin-top: -38px;
    margin-right: 0px;
    background: none;
    border: none;
    border-left: 1px solid #b6b6b6;
    font-size: 17px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* =============COMPANY PROFILE======================== */

.friend-list-img div{
    height: 12px;
    width: 12px;
    position: absolute;
    margin-left: 28px;
    margin-top: -12px;
    border: 2px solid #fff;
}

/* -----------Tab CSS---------- */
.nav-tabs {
    border-bottom: none;
}
.nav-item{
    position: relative;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #b6b6b6;
    background-color: #fff;
    border-color: #fff;
}

.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 0;
    position: relative;
}

.nav-tabs .nav-item .nav-link.active::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: calc(100% - 2px);
    background-color: #0087FB;
    left: 0;
    transition: 0.3s all linear;
}
/* -----------Tab CSS---------- */



/* ======PERSONAL PROFILE======== */
